body
{
	font-family: Helvetica, sans-serif;
	color: lightblue ;
	background-color: olive;
	margin-left: 100px;
	margin-right: 100px;
}

header
{
	text-align: center;
}

h1
{
	font-family: Lucida Console;
	text-align: center;
	line-height: 0px;
	
}
h2
{
	font-family: Courier New;
	text-align: center;
	line-height: 0px;
}
h3{
	font-family: monospace;
	text-align: center;
	
	
	
}
a
{
	
	text-decoration: none;
	color: #2c7055;
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: aqua;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}

footer
{
	text-align: center;
	
}
