<header>
<h1 class="fade-in-text"> Jaundiced Tapir Designs LLC </h1><br>
<h1 class="centerLogo fade-in-image"> <img src="images/brandlogo.png" class="logo" alt="rumpeltux-Malayan-Tapir.png(100x100)(freesvg.org)" height="155" width="155"/> </h1> 
<nav>
<a class="fade-in-text" href="https://webpages.uncc.edu/jtreese/itis3135/brand/brandindex.html">Home Page</a>			
<a class="fade-in-text" href="https://webpages.uncc.edu/jtreese/itis3135/brand/brandcontact.html">Contact Us</a>
<a class="fade-in-text" href="https://webpages.uncc.edu/jtreese/itis3135/brand/brandinfopage.html">About Us</a>
</nav>
</header>