body
{
	background-color: #F4F0DB;
	width: 100%;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	min-height: 100vh;
  
}
h1
{
	text-align: center;
	font-size: 50px;
	color: white;
	
}

h2
{
	font-family: Helvetica;
	text-align: center;
	font-size: 30px;
}

#paragraphText
{
	text-align: left;
	margin-left: 100px;
	margin-right: 100px;
	font-weight: 600;
	font-size: 20px;
	font-family: Helvetica;
	margin-bottom: 10px;
}
li
{
	font-weight: 500;
}

#headingStyle
{
	
	font-weight: bold;
	font-size: 30px;
	display: flex;
	justify-content: space-evenly; 
	width: 100%;
	color: #B3A369;
	font-family: Helvetica;
	background-color: #046a38;
	padding-right: 5px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    
}

#footingDiv
{
	font-family: Helvetica;
	background-color: #046a38;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 8rem;            

}
#footingDiv2
{
	font-family: Helvetica;
	background-color: #046a38;
	text-align: center;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 8rem;            

}
#footTagline
{
	color: #c9b877;
	font-family: Helvetica;
}

.noUL
{
	text-decoration: none;
}

a
{
	color: #c9b877;
	padding: 10px;
}

a:hover
{
	color: #fffb8a;
}

a.aStyle
{
	color: #483248;
	margin-left: 100px;
	font-size: 18px;
	text-align: left;
	font-weight: bold;
}
a.aStyle:hover
{
	color: #046a38;
}
p.resourceStyle
{
	color: black;
	margin-left: 115px;
	text-align: left;
	font-weight: bold;
}

.validationLinks
{
	text-decoration: underline overline;
	font-weight: bold;
	font-family: Bookman;
}


#lessonButtons 
{
	margin-left: 100px;
	margin-right: 100px;
	font-size: 25px;
	font-weight: bold;
	padding: 5px;
	
}
#lessonButtons a
{
	color: green;
}

#lessonButtons a:hover
{
	color: red;
}

#foundationButtons 
{
	margin-left: 100px;
	margin-right: 100px;
	font-size: 25px;
	font-weight: bold;
	padding: 5px;
	
}

#foundationButtons a
{
	color: green;
}

#foundationButtons a:hover
{
	color: red;
}


iframe
{
	margin: auto;
	display:block;
}

#lessonContent
{
	
	text-align: center;
	
}

#lessonContent p
{
	font-size: 25px;
	margin-left: 75px;
	margin-right: 75px;
	
}
#embeddedPDF
{
	height: 50vh;
	margin-left: 100px;
	margin-right: 100px;
}

#embeddedBio
{
	height: 100vh;
	margin-left: 100px;
	margin-right: 100px;
	
}

#videoContent
{
	height: 100vh;
	text-align: center;
	margin-bottom: 20px;
}

#videoButtons 
{
	margin-left: 100px;
	margin-right: 100px;
	font-size: 25px;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	color: green;
	
}
#videoButtons a
{
	color: green;
}
#videoButtons a:hover
{
	color: red;
}

#bioText
{
	height: 100vh;
	
}

#resourcesDiv
{
	height: 100vh;
}

#embeddedFoundation
{
	height: 75vh;
}

#foundationVideo
{
	text-align: center;
}

